@model FinanceApp.Web.PageModels.AccountListView
<h1 class="title is-1">@Model.Title</h1>
<div class="tile is-ancestor">
    <tile vertical>
        @foreach (var account in Model.Accounts)
        {
            <tile size="12" parent>
                <tile content-class="box">
                    <div class="columns is-gapless is-mobile">
                        <div class="column is-4-desktop is-8-mobile">
                            <h4 class="title is-4">@account.Name</h4>
                            <h5 class="subtitle is-6">@account.Institution.Name</h5>
                        </div>
                        <div class="column is-hidden-mobile"></div>
                        <div class="column is-1-desktop is-4-mobile">
                            <balance value="@account.Balance"></balance>
                        </div>
                    </div>
                </tile>
            </tile>
        }
    </tile>
</div>