<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(ViewData["Title"])- FinanceApp</title>
    <link rel="stylesheet" href="~/lib/bulma.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/site.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script defer src="~/js/main.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</head>
<body>
    
    <nav class="navbar" role="navigation" aria-label="main-nav">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">FinanceApp</a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarToggle">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <a navbar-item controller="FinancialInstitutions">Financial Institutions</a>
                <a navbar-item controller="Accounts">Accounts</a>
            </div>
        </div>
    </nav>

    <main class="section">
        <div class="container" id="contentArea">
            @RenderBody()
        </div>
    </main>
</body>
</html>
